*{
    box-sizing: border-box;
}
.nav-item {
    position: relative;
}
.submenu {
    z-index: 999;
    position: absolute;
    top: 80px;
    left: 50%;
    width: 1024px;
    background-color: white;
    /* margin-left: -512px; */
    transform: translateX(-50%);
    /* border: 1px solid lightgray; */
    border-radius: 6px;
}
.has-submenu {
    position: relative;
}
ul > li .submenu {
    opacity: 0;
    visibility: hidden;
    /* display: none !important; */
    transition: 0.4s all;
}
ul > li:hover .submenu{
    position: absolute;
    top: 35px;
    left: 0;
    opacity: 1;
    visibility: visible;
    /* display: block !important; */
}

.slick-initialized .slick-slide {
    display: block;
}
.slider-item {
    text-align: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 650px;
    width: 1349px;
}

.submenulist {
    list-style: none;
}
.submenulist > h5 {
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.submenulist > li {
    padding: 3px;
    padding-left: 12px;
}

body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #333;
}

.top-header {
    display: block;
}

.top-header .container {
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #dedede;
}

@media (min-width: 1200px){
.container {
    width: 1170px;
}
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

div {
    display: block;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 992px){
.col-md-4 {
    width: 33.33333333%;
}
}

.col-md-4, .col-xs-12, .col-sm-4 {
    float: right;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.top-header .contact-number {
    font-size: 12px;
    color: #333;
}

.text {
    text-align: center;
}

.top-header .contact-number i {
    margin-right: 4px;
    font-size: 18px;
    vertical-align: middle;
}
.tf-ion-ios-telephone {
    font-family: 'themefisher-font' !important;
    /*speak: none;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.text-right {
    text-align: right;
    margin-bottom: 4px;
}

ol, ul {
    margin: 0;
    padding: 0;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.dropdown-slide {
    position: static;
}

.commonSelect {
    margin-left: 10px;
    padding-right: 6px;
    position: relative;
}

.menu {
    display: block;
}

.navigation {
    margin-bottom: 0;
    padding: 10px 0;
}

@media (min-width: 768px){
.navbar {
    border-radius: 4px;
}
}

.navbar {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}

.navigation {
    margin-bottom: 0;
    padding: 10px 0;
}

@media (min-width: 768px){
.navbar {
    border-radius: 4px;
}
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px){
.container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}
}

@media (min-width: 768px){
.navbar-header {
    float: left;
}
}

.navigation .menu-title {
    display: none;
    font-size: 16px;
}

h2 {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.h2, h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

@media (min-width: 768px){
.navbar-toggle {
    display: none;
}
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.navbar-toggle .icon-bar {
    background: #000;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

@media (min-width: 768px){
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}
}

@media (min-width: 768px){
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible !important;
}
}

@media (min-width: 768px){
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center;
    margin: auto;
}

.navigation .navbar-nav {
    float: none;
    display: inline-block;
}

@media (min-width: 768px){
.navbar-nav {
    margin: 0;
}
}

.nav {
    padding-left: 0;
    list-style: none;
}

ol, ul {
    margin: 0px;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.navigation .navbar-nav > li {
    position: static;
}

@media (min-width: 768px){
.navbar-nav>li {
    float: left;
}
}

.nav>li {
    display: block;
}

li {
    text-align: -webkit-match-parent;
}

.navigation .navbar-nav > li > a {
    color: #333;
    font-size: 14px;
    padding: 20px 15px;
    text-transform: uppercase;
    transition: .2s ease-in-out 0s;
    border: 1px solid transparent;
}

.navbar-nav>li>a {
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a {
    background-color: transparent;
}

.navigation .navbar-nav > li {
    position: static;
}

@media (min-width: 768px){
.navbar-nav>li {
    float: left;
}
}

.nav>li {
    display: block;
}

li {
    text-align: -webkit-match-parent;
}
    
.navigation .nav .open > a {
    border: 1px solid transparent;
    background-color: transparent;
}
.navigation .navbar-nav > li > a {
    color: #333;
    font-size: 14px;
    padding: 20px 15px;
    text-transform: uppercase;
    transition: .2s ease-in-out 0s;
}

.navbar-nav>li>a {
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
}

.open>a {
    outline: 0;
}
[role=button] {
    cursor: pointer;
}
a, a:focus, a:hover {
    text-decoration: none;
}

.tf-ion-ios-arrow-down {
    font-family: 'themefisher-font' !important;
    /*speak: none;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navigation .navbar-nav > li {
    position: static;
}

@media (min-width: 768px){
.navbar-nav>li {
    float: left;
}
}

.nav>li {
    display: block;
}

li {
    text-align: -webkit-match-parent;
}

.media-object {
    width: 80px;
}

.verified-icon {
    width: 340px;
}

.product-checkout-details .summary-prices li span + span {
    float: right;
}

.product-checkout-details .summary-total span + span {
    float: right;
}

.product-checkout-details .summary-total > span {
    font-weight: 500;
    font-size: 18px;
}

.media-body {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
    overflow: hidden;
    zoom: 1;
}

.product-checkout-details .product-card h4 {
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}

.h4, h4 {
    line-height: 1.1;
}